<!-- v2.1 Added form for Add/Edit Customers. -->
{% extends "base.html" %}
{%load crispy_forms_tags %} 

{% block content %}

<head>
    <style>
    .form-control{
		width:50% !important;
	}

	.row.mx-5 {
		background-color: #87ceeb;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
    </style>
</head>

<div class="my-2">
	<h5> Add Customer Form</h5>
</div>

<form method="POST">
	{% csrf_token %}
	{{form|crispy}} 
	
	{% if form.errors %}
    <div class="alert alert-danger mt-5">
        {% for field in form %}
            {% for error in field.errors %}
                <div>{{ field.label }}: {{ error }}</div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
	{% endif %}   

	<div class="navbar">
		<div></div>
		<div>
			<button type="submit" class="btn btn-light mt-3">
				<i class="fa-regular fa-floppy-disk" style="color:darkgreen;"></i>
				Save
			</button>
	
			<a class="btn btn-light mt-3" href = "{% url 'DjTraders.Customers' %}">
				<i class="fa-solid fa-xmark" style="color: darkred;"></i>
				Cancel 
			</a>
		</div>
	</div>
</form>
<div>
	<a href = "{% url 'DjTraders.Customers' %}">
		<button class="btn btn-light" style="background-color:#000080; color:white;">View Customer List</button>
	  </a>
</div>
{% endblock %}